.idea

nbproject

.buildpath
.project
.settings

Thumbs.db

/vendor

composer.phar

.DS_Store

phpunit.phar
/phpunit.xml

tests/_output/*
tests/_support/_generated

/.vagrant
/node_modules/

/.env

/runtime/
/web/assets/

/web/css/output.css

/.idea/
/.vscode/
.DS_Store
Thumbs.db